body.container{
	width: 1350px;
}
.my_header{
    width: 100%;
    height: 10rem;
}
@media screen and (max-width:991px ) {
    .my_header{
        width: 100%;
        height: 20rem;
    }
}
.my_footer{
    width: 100%;
    height: 20rem;
}
@media screen and (max-width:991px ) {
    .my_footer{
        width: 100%;
        height: 45rem;
    }
}

/*
.my_in_font1{
	font-size: 16px;
	color: black;
	padding-left: 10px;
}
.my_in_font1:hover{
	text-decoration: none;
	color: #4f8dfe;
}
.my_in_ul{
	height: 70px;
}
 
.my_in_font2{
	font-size: 18px;
	color: black;	
}
.my_in_font2:hover{
	text-decoration: none;
	color: #4f8dfe;
}
.my_he_logo{
	border-radius:50%;
	width: 50%;
}

*/
/*登录注册下拉*/
/*
.dropdown-menu li:hover {
	background: #ddd;
	color: #4f8dfe;
	text-decoration: none;
}
.dropdown-menu{
	padding: 0;
	margin: 0;
}
*/
/*banner的*/
/*左边列表*/
.tabs,#tab>li:hover{
	background: red;
}
.my_ban_font1{
	color:white;
	font-size: 15px;
	padding-top: 20px;
	margin-top: 40px;
}
.tabs,#tab>li>a:hover{
	text-decoration: none;
	color:white;
}
.tabs,#tab,ul>li{
	height: 30px;
	width: 190px;
}
.banner{
	width: 1226px;
	height: 460px;
}
.slider-left{
	height: 460px;
	width: 191px;
	background: black;
}
.slider-right{
	width: 996px;
	height: 460px;
}

/*banner的轮播*/

#slider>img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .5s linear;
}
#slider>img.show{
	opacity: 1;
}
#slider{
	width: 992px;
	height: 460px;
	position: relative;
}

/*选择浮动框*/

.banner,.tabs{
	background: black;
	height: 460px;
	width: 360px;
}
#content1,#content2,#content3,#content4,#content5,#content6,#content7,#content8{
	margin: 0;
	padding: 0;
	margin-top: -32.5%;
	margin-left: 100%;
	background: white;
	color: black;
	height: 460px;
	width: 600px;
	float: left;
	position: relative;
	display: none;
}  

/*小照片 三张大照片  */
.my_in_imgbox{
	display: inline-flex;
}
.my_in_img1{
	margin: -15px;	
}                 
.my_in_img2{
	width: 124%;	
	height: 98%;	
}  
.my_img1>div a:hover{
	background-color: rgba(255,255,255,0.9);
}  
/*明星产品 */
#row1{
	display: inline-block;
}                         
.row1_1{
	border-top:2px solid blue;
	width: 220px;
	height: 250px;
}
.row1_2{
	border-top:2px solid red;
	width: 220px;
	height: 250px;
}
.row1_3{
	border-top:2px solid greenyellow;
	width: 220px;
	height: 250px;
}
.row1_4{
	border-top:2px solid orchid;
	width: 220px;
	height: 250px;
}
.row1_5{
	border-top:2px solid purple;
	width: 220px;
	height: 250px;
}
.my_minxin{
	width: 70%;
}  
.my_minxin_font1{
	font-size: 18px;
	font-weight: bold;
}
.my_minxin_font2{
	font-size: 13px;
	color: gray;
}
.my_minxin_font3{
	font-size: 18px;
	color: red;
}   
/*配件 */ 
.my_peijian_box{
	width: 230px;
	height: 300px;
	background: white;	
	box-shadow: 3px 3px 8px gray;
}
.my_peijian_box:hover{
	box-shadow: 2px 2px 8px red inset;
}
.my_peijian_font1{
	font-size: 17px;
} 
.my_peijian_font2{
	font-size: 15px;
	color: gray;
	padding: -10%;
}               
.my_peijian_font3{
	font-size: 13px;
	color: red;
}                                                   