
	<header id="header" class="container bg-white">
		<nav class="navbar row mt-3">
			<a href="index.html" style="margin-left: -15px;">
				<img src="image/header/logo.jpg"/>
			</a>
			<div class="form-inline">
				<div class="input-group">
					<input v-model="kword" @keyup.13="search()" class="my_he_sesfont" type="text" placeholder="请输入您要搜索的内容" />
					<div class="search_img">
						<img src="image/header/search3.jpg" @click="search()">
					</div>
				</div>
			</div>
			<div class="d-flex list-inline">				
				<div id="signout" v-if="!islogin">				
		    		<a class="my_he_font1 mr-2" :href="signin" id="btnLogin">登录</a>
		    		<a class="my_he_font1 mr-2" href="#">|</a>
		    		<a class="my_he_font1 mr-2" href="register.html">注册</a>
		    	</div>
		    	<div id="signin" v-else>
		   			<a class="my_he_font1 mr-2" href="#">|</a>
		   			<a class="my_he_font1 mr-2" href="#">消息通知</a>
		   			<a class="my_he_font1 mr-2" href="#">|</a>
		   			<a class="my_he_font1 mr-2" href="login.html" title="我的收藏">
		   				<img src="image/header/shop_car1.png"/>
		   			</a>
		   			
		   			<a class="my_he_font1 mr-2" href="#">|</a>
		   			<a class="my_he_font1 mr-2" href="shopping_car.html" title="我的购物车">
		   					<img src="image/header/care1.png"/>
		   				</a>
		   			
		   			<a class="my_he_font1 mr-2" href="#" >Welcome <span id="uname">dangdang</span></a>
		   			<a  class="my_he_font1 mr-2"  id="btnSignout" href="javascript:;" @click.prevent="signout">注销</a>
		   		</div>	   			
			</div>
		</nav>
		<div class="row ml-1 header2">
			<ul class="d-flex list-unstyled header2 mt-3">
				<li><a class="my_he_font2 mr-3 text-muted" href="index.html">首页</a></li>
			    <li><a class="my_he_font2 mr-3" href="#">优惠活动</a></li>			    	
			    <li><a class="my_he_font2 mr-3" href="#">推荐</a></li>			    	
			    <li><a class="my_he_font2 mr-3" href="#">上新</a></li>			    	
			    <li><a class="my_he_font2 mr-3" href="#">科技党</a></li>			    	
			    <li><a class="my_he_font2 mr-3" href="#">关注</a></li>
			    <li><a class="my_he_font2" href="#">生活家</a></li>			    	
		    </ul>
		</div>
	</header>